GOOGLE_SERVICE_ACCOUNT_FILE=credentials/google-service-account.json
GOOGLE_SPREADSHEET_ID=
SHEET_NAO_AGENDADOS=Em análise
SHEET_FINALIZADOS=Finalizaram
SHEET_FALTAS=Faltas
DEFAULT_AGENTE=Natanael
FORM_URL=https://docs.google.com/forms/d/e/1FAIpQLScqJcE8_wd3NrCdaP36TyotY8b9LMk1mRI6ceAZ8symajfz7g/viewform
